.fingerprintVerificationbutton {
  padding: 15px 10rem;
  margin-left: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
}

.fingerprintVerificationbutton:hover {
  background-color: #333;
}
.fingerprintVerificationbutton:active {
  transform: scale(0.95);
}

.fingerprintVerificationicon {
  margin-right: 10px;
}
