#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1489px 111px #000, 1512px 1135px #000, 412px 338px #000,
    1914px 1037px #000, 902px 218px #000, 1949px 930px #000, 844px 353px #000,
    1795px 1057px #000, 1119px 1928px #000, 1596px 1201px #000,
    871px 1058px #000, 379px 1040px #000, 174px 542px #000, 176px 251px #000,
    1879px 1381px #000, 1818px 1186px #000, 74px 857px #000, 435px 1076px #000,
    952px 1341px #000, 1828px 1705px #000, 303px 1964px #000, 1111px 1478px #000,
    734px 1265px #000, 19px 1034px #000, 1161px 393px #000, 1666px 998px #000,
    1893px 15px #000, 1720px 368px #000, 1654px 1802px #000, 1265px 965px #000,
    1930px 28px #000, 1222px 342px #000, 1420px 1313px #000, 1853px 1979px #000,
    1801px 1141px #000, 281px 471px #000, 1784px 1102px #000, 22px 398px #000,
    1810px 1546px #000, 1528px 913px #000, 1076px 1646px #000, 10px 783px #000,
    268px 830px #000, 1984px 767px #000, 536px 1956px #000, 1539px 1875px #000,
    1975px 522px #000, 1665px 261px #000, 481px 1294px #000, 1740px 1756px #000,
    790px 483px #000, 973px 794px #000, 240px 1768px #000, 266px 1106px #000,
    1354px 1251px #000, 1092px 1770px #000, 249px 582px #000, 1862px 428px #000,
    1809px 1935px #000, 1772px 1346px #000, 465px 1458px #000, 1881px 455px #000,
    79px 1079px #000, 240px 326px #000, 1125px 1457px #000, 1740px 655px #000,
    1939px 927px #000, 138px 1521px #000, 961px 71px #000, 452px 1416px #000,
    1507px 949px #000, 1634px 1805px #000, 823px 1544px #000, 1823px 1246px #000,
    1780px 1374px #000, 420px 660px #000, 886px 990px #000, 1396px 1097px #000,
    1470px 1314px #000, 1630px 1440px #000, 269px 124px #000, 1443px 1775px #000,
    1936px 1964px #000, 1986px 694px #000, 1288px 69px #000, 325px 1555px #000,
    1513px 346px #000, 486px 706px #000, 1465px 899px #000, 91px 1501px #000,
    484px 1588px #000, 187px 1432px #000, 1635px 1244px #000, 342px 1839px #000,
    984px 1388px #000, 1727px 1868px #000, 1288px 32px #000, 1915px 1583px #000,
    880px 526px #000, 289px 1508px #000, 98px 1884px #000, 1890px 1613px #000,
    1043px 1629px #000, 1507px 62px #000, 83px 722px #000, 1383px 489px #000,
    1533px 1212px #000, 1766px 449px #000, 23px 237px #000, 1152px 964px #000,
    1642px 1399px #000, 621px 693px #000, 359px 244px #000, 1954px 1215px #000,
    435px 1215px #000, 847px 1557px #000, 1102px 290px #000, 1881px 35px #000,
    1932px 349px #000, 742px 1157px #000, 1129px 368px #000, 1000px 1167px #000,
    620px 679px #000, 552px 966px #000, 176px 1228px #000, 1382px 1847px #000,
    1887px 966px #000, 133px 1857px #000, 221px 560px #000, 1202px 1850px #000,
    1686px 133px #000, 584px 802px #000, 1047px 923px #000, 329px 1586px #000,
    94px 1053px #000, 1795px 625px #000, 985px 1914px #000, 772px 1772px #000,
    1718px 655px #000, 1785px 1804px #000, 1382px 1786px #000, 703px 142px #000,
    1893px 1742px #000, 135px 408px #000, 1886px 663px #000, 210px 16px #000,
    1714px 1633px #000, 1338px 36px #000, 1202px 1412px #000, 199px 1665px #000,
    1156px 1979px #000, 667px 862px #000, 1513px 1593px #000, 1423px 91px #000,
    58px 1163px #000, 1970px 1039px #000, 177px 1418px #000, 79px 1314px #000,
    1822px 768px #000, 57px 1049px #000, 1467px 1084px #000, 853px 926px #000,
    748px 987px #000, 690px 1139px #000, 215px 384px #000, 233px 832px #000,
    1279px 1237px #000, 1862px 1761px #000, 605px 534px #000, 1770px 174px #000,
    605px 1867px #000, 425px 488px #000, 1939px 110px #000, 768px 818px #000,
    1271px 1282px #000, 1067px 1547px #000, 580px 1476px #000, 1584px 499px #000,
    1271px 1039px #000, 484px 189px #000, 320px 1558px #000, 1683px 1407px #000,
    1172px 16px #000, 461px 873px #000, 1871px 139px #000, 413px 24px #000,
    1728px 859px #000, 1499px 1541px #000, 496px 1702px #000, 505px 922px #000,
    529px 1007px #000, 955px 1027px #000, 1034px 1291px #000, 838px 942px #000,
    190px 1093px #000, 735px 1255px #000, 1947px 27px #000, 1262px 594px #000,
    1816px 1464px #000, 348px 411px #000, 1679px 966px #000, 1969px 91px #000,
    236px 1493px #000, 625px 678px #000, 617px 1721px #000, 1631px 1589px #000,
    1104px 907px #000, 73px 664px #000, 1747px 1113px #000, 1685px 264px #000,
    1273px 227px #000, 1909px 1647px #000, 1644px 1412px #000,
    1995px 1260px #000, 578px 404px #000, 1659px 501px #000, 1533px 449px #000,
    721px 182px #000, 1550px 409px #000, 223px 1054px #000, 398px 734px #000,
    1172px 236px #000, 1488px 914px #000, 1680px 1753px #000, 1963px 1373px #000,
    806px 1317px #000, 1892px 1884px #000, 1483px 1149px #000, 1199px 588px #000,
    428px 245px #000, 1134px 630px #000, 884px 886px #000, 878px 1109px #000,
    1626px 563px #000, 417px 1573px #000, 468px 381px #000, 908px 1199px #000,
    609px 304px #000, 1585px 629px #000, 615px 645px #000, 1152px 835px #000,
    981px 1619px #000, 987px 1090px #000, 1847px 255px #000, 1528px 58px #000,
    1211px 263px #000, 542px 562px #000, 223px 1268px #000, 814px 1594px #000,
    420px 142px #000, 27px 864px #000, 673px 1371px #000, 1241px 1563px #000,
    1934px 215px #000, 183px 1473px #000, 1073px 143px #000, 1192px 726px #000,
    1229px 1290px #000, 1042px 1319px #000, 536px 180px #000, 1240px 1532px #000,
    1607px 1900px #000, 493px 672px #000, 827px 81px #000, 641px 1981px #000,
    823px 923px #000, 1794px 1012px #000, 1457px 479px #000, 685px 1983px #000,
    1201px 1543px #000, 963px 872px #000;
  animation: animStar 100s linear infinite;
}
#stars:after {
  content: " ";
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1512px 623px #000, 1302px 386px #000, 1971px 302px #000,
    1832px 1910px #000, 329px 1468px #000, 1987px 1711px #000, 495px 818px #000,
    727px 660px #000, 461px 1615px #000, 176px 1109px #000, 1734px 561px #000,
    851px 1902px #000, 806px 1642px #000, 1918px 55px #000, 627px 1283px #000,
    532px 1069px #000, 628px 702px #000, 643px 1391px #000, 1482px 185px #000,
    1990px 546px #000, 864px 480px #000, 587px 351px #000, 1349px 1123px #000,
    741px 812px #000, 915px 1080px #000, 823px 855px #000, 290px 1657px #000,
    224px 1144px #000, 1051px 1832px #000, 1173px 579px #000, 451px 159px #000,
    1476px 984px #000, 1394px 1298px #000, 1664px 1289px #000, 1945px 7px #000,
    583px 480px #000, 747px 1079px #000, 1387px 856px #000, 1543px 629px #000,
    1339px 1322px #000, 1726px 1033px #000, 11px 17px #000, 868px 1093px #000,
    104px 1523px #000, 913px 714px #000, 353px 427px #000, 650px 421px #000,
    457px 1433px #000, 1113px 891px #000, 430px 1179px #000, 1556px 791px #000,
    787px 1265px #000, 1777px 1227px #000, 1802px 737px #000, 459px 972px #000,
    489px 1622px #000, 272px 1315px #000, 151px 1967px #000, 1965px 878px #000,
    198px 1548px #000, 947px 1944px #000, 719px 1534px #000, 633px 1881px #000,
    1920px 721px #000, 159px 1831px #000, 1675px 1784px #000, 70px 1110px #000,
    1316px 573px #000, 46px 1588px #000, 571px 1718px #000, 1166px 1863px #000,
    1580px 1849px #000, 164px 165px #000, 419px 1717px #000, 55px 1968px #000,
    240px 1582px #000, 693px 1505px #000, 898px 1890px #000, 426px 518px #000,
    631px 419px #000, 391px 956px #000, 1565px 122px #000, 179px 13px #000,
    514px 1769px #000, 1590px 786px #000, 1208px 872px #000, 1545px 637px #000;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 594px 1240px #000, 582px 945px #000, 329px 991px #000,
    3px 1906px #000, 140px 1538px #000, 875px 1392px #000, 1550px 1616px #000,
    796px 407px #000, 337px 1932px #000, 1736px 1148px #000, 1030px 1999px #000,
    1975px 582px #000, 741px 284px #000, 1995px 1283px #000, 1485px 760px #000,
    646px 1066px #000, 1605px 1772px #000, 1049px 1476px #000, 723px 1837px #000,
    1466px 1880px #000, 827px 942px #000, 1598px 1792px #000, 1775px 1575px #000,
    1550px 814px #000, 42px 1434px #000, 1456px 1164px #000, 915px 674px #000,
    584px 1766px #000, 1506px 918px #000, 614px 1856px #000, 1280px 234px #000,
    286px 605px #000, 648px 1582px #000, 1612px 1455px #000, 891px 1253px #000,
    584px 132px #000, 1035px 955px #000, 397px 634px #000, 1215px 302px #000,
    1973px 103px #000, 1160px 1737px #000, 944px 976px #000, 1211px 1750px #000,
    938px 520px #000, 1526px 858px #000, 142px 1807px #000, 643px 1693px #000,
    1367px 1747px #000, 988px 1841px #000, 191px 926px #000, 611px 1389px #000,
    899px 398px #000, 433px 397px #000, 512px 1035px #000, 995px 1913px #000,
    289px 836px #000, 1398px 453px #000, 515px 1087px #000, 1396px 1510px #000,
    819px 1276px #000, 855px 583px #000, 1150px 1668px #000, 117px 718px #000,
    1154px 1193px #000, 453px 1058px #000, 1171px 1121px #000;
  animation: animStar 150s linear infinite;
}
#stars2:after {
  content: " ";
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 594px 1240px #000, 582px 945px #000, 329px 991px #000,
    3px 1906px #000, 140px 1538px #000, 875px 1392px #000, 1550px 1616px #000,
    796px 407px #000, 337px 1932px #000, 1736px 1148px #000, 1030px 1999px #000,
    1975px 582px #000, 741px 284px #000, 1995px 1283px #000, 1485px 760px #000,
    646px 1066px #000, 1605px 1772px #000, 1049px 1476px #000, 723px 1837px #000,
    1466px 1880px #000, 827px 942px #000, 1598px 1792px #000, 1775px 1575px #000,
    1550px 814px #000, 42px 1434px #000, 1456px 1164px #000, 915px 674px #000,
    584px 1766px #000, 1506px 918px #000, 614px 1856px #000, 1280px 234px #000,
    286px 605px #000, 648px 1582px #000, 1612px 1455px #000, 891px 1253px #000,
    584px 132px #000, 1035px 955px #000, 397px 634px #000, 1215px 302px #000,
    1973px 103px #000, 1160px 1737px #000, 944px 976px #000, 1211px 1750px #000,
    938px 520px #000, 1526px 858px #000, 142px 1807px #000, 643px 1693px #000,
    1367px 1747px #000, 988px 1841px #000, 191px 926px #000, 611px 1389px #000,
    899px 398px #000, 433px 397px #000, 512px 1035px #000, 995px 1913px #000,
    289px 836px #000, 1398px 453px #000, 515px 1087px #000, 1396px 1510px #000,
    819px 1276px #000, 855px 583px #000, 1150px 1668px #000, 117px 718px #000,
    1154px 1193px #000, 453px 1058px #000, 1171px 1121px #000;
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
