.navContainer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 1400px;
  max-height: 100px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: rgba(220, 220, 220, 0.677);
  padding: 15px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 6px 20px rgba(100, 100, 100, 0.279);
  border: 2px solid rgba(180, 180, 180, 0.542);
  border-radius: 15px;
  z-index: 1;
  animation: fadeInTop 1s ease-in-out;
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profileIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  overflow: hidden;
  transition: padding 0.1s ease-in-out;
  background-color: transparent;
}

.profileIconContainer:hover {
  cursor: pointer;
}

.profileIconContainer:active {
  padding: 8px;
}

.profileImage {
  object-fit: cover;
  border-radius: 50%;
}

.dropdownMenu {
  position: absolute;
  top: 72px;
  right: 0;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 10px 0;
  min-width: 150px;
  opacity: 0;
  transform: translateY(-10px);
  animation: dropdownFadeIn 0.3s forwards;
  z-index: 999999;
  overflow: hidden;
}

@keyframes dropdownFadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logoutButton {
  display: flex;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  padding: 10px 20px;
  color: #333;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out;
}

.logoutButton:active {
  transform: scale(0.98);
}

.logoutButton:hover {
  background-color: rgba(254, 69, 69, 0.063);
  color: red;
}

.logoutIcon {
  margin-right: 8px;
  font-size: 20px;
}

.logoutIcon:hover {
  color: red;
}
