.card {
  background: linear-gradient(135deg, #ffffff, #f7f9fc);
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  padding: 25px;
  text-align: left;
  animation: fadeIn 0.5s ease;
  max-width: 500px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.logo {
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  margin-left: 130px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.info {
  margin-bottom: 20px;
  color: #444;
}

.infoItem {
  margin-bottom: 15px;
  font-size: 1rem;
}

.infoItem strong {
  display: block;
  font-weight: bold;
  color: #222;
  margin-bottom: 5px;
}

.address {
  display: inline-block;
  background-color: #e8f5e9;
  color: #2e7d32;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.9rem;
  word-break: break-word;
}

.footer {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.printButton {
  background-color: rgb(70, 70, 229);
  color: #fff;
  border: none;
  padding: 15px 35px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  transition: background 0.3s ease;
}
.printButton:hover {
  background-color: rgb(50, 50, 200);
}
.securityNote {
  display: flex;
  font-size: 1rem;
  color: #666;
  font-style: italic;
  text-align: right;
}
